<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1><%= photos %></h1>
   <!--  <h2>settings:<%= settings.views %></h2> -->
    <div id="photos">
    	<!-- 此处的forEach，注意大写 -->
    	<% photos.forEach(function(photo){  %>  
    			<div class="photo">
    				<h2><%= photo.name %> </h2>
    				<img src='<%= photo.path %>' />
    			</div>	
    	<% }) %>
    </div>
  </body>
</html>